<!DOCTYPE html>
<head>
  <title>Add-repl pinger</title>
</head>
<body bgcolor="black">
  <font color="#f2f2f2" size="5">
       <h2><center><b><u>Repl Pinger</u></b></center></h2><font size = 3><p align="right"> By- Quantumcodes    </p></font>
    <hr size=1>
    <h3><p align="center"><u>Delete link page</u></p></h3>
    <hr size="1">
    <br>
    <br>
    <form align="center" action ="/add" method="POST">
      <label for="link" align="bottom">Link: </label>
      <input type="text" align="top" id="link" name="link" placeholder="Type a valid link" style="height: 20px; width:250px"><br>
      <input type="submit" value="verify" style="height:30px; width:60px"><input type="reset" value="clear" style="height:30px; width:60px">
    </form>
    <br><br>
    
    
    
    <font size="3">
    <p align="center">Note that the link format should be:<br>https://{Repl name}.{creator username}.repl.co/{whatever}<br>Else, your link may be rejected.<br>if you are doubtful on your link, then just put it here. there is a filter.</p>
    </font></font>
</body>
</html>