<!DOCTYPE html>
<html>
<head>
  <title>Add-repl pinger</title>
</head>
<body bgcolor="black" alink="#348ceb" vlink="#348ceb" link="#348ceb">
  <font color="#f2f2f2" size="5">
    <h2><center><b><u>Repl Pinger</u></b></center></h2>
    <font size="3"><p align="right">By- trhacknon</p></font>
    <hr size=1>
    <h3><p align="center"><u>Add link page</u></p></h3>
    <hr size="1">
    <br>
    <br>
    <form align="center" action="/add" method="POST">
      <label for="links" align="bottom">Links (one per line):</label>
      <textarea id="links" name="links" placeholder="Type valid links, one per line" style="height: 100px; width: 250px;"></textarea><br>
      <input type="submit" value="Verify" style="height: 30px; width: 60px;"><input type="reset" value="Clear" style="height: 30px; width: 60px;">
    </form>
    <br><br>
    <font size="3">
      <p align="center">Note that the link format should be:<br>https://{Repl name}.{creator username}.repl.co/{whatever}<br>Else, your link may be rejected.<br>If you are doubtful about your link, just put it here. There is a filter.<br>Want to <a href="https://repl-pinger-trkn.replit.app/delete">delete</a> instead?</p>
    </font>
  </font>
</body>
</html>