<!DOCTYPE html>
<head>
  <title>Delete-repl pinger</title>
</head>
<body bgcolor="black" alink="#348ceb" vlink="#348ceb" link="#348ceb">
  <font color="#f2f2f2" size="5">
       <h2><center><b><u>Repl Pinger</u></b></center></h2><font size = 3><p align="right"> By- Trhacknon    </p></font>
    <hr size=1>
    <h3><p align="center"><u>Delete link{{title}} page</u></p></h3>
    <hr size="1">
    <br>
    {% if title == " " %}
      <center><img src="https://www.freeiconspng.com/thumbs/success-icon/success-icon-10.png">
      <p><small>Image by www.freeiconspng.com</small></p>
      </center>
    {% else %}
      <center><img src="https://www.pinclipart.com/picdir/big/549-5497548_no-symbol-clip-art-circle-transparent-x-mark.png" height="400px"><br><small>Image by www.pinclipart.com</small></center>
    {% endif %}
    <br>
    <font size="4">
    <p align="center">{{error}}<br><a href="https://repl-pinger-trkn.replit.app/delete">Back to delete page? click here.</a><br>Want to <a href="https://repl-pinger-trkn.replit.app/add">add</a> instead?</p>
     | <a href="https://repl-pinger-trkn.replit.app/id">View all IDs</a><br></font>
</body>
</html>