<!DOCTYPE html>
<head>
  <title>Delete-repl pinger</title>
</head>
<body bgcolor="black" alink="#348ceb" vlink="#348ceb" link="#348ceb">
  <font color="#f2f2f2" size="5">
       <h2><center><b><u>Repl Pinger</u></b></center></h2><font size = 3><p align="right"> By- Trhacknon    </p></font>
    <hr size=1>
    <h3><p align="center"><u>Found a link</u></p></h3>
    <hr size="1">
    <br>
    <font size="3">
    <p align="center">Are you sure you want to delete this link?: {{thelink}}<br>Not yours? don't delete and try finding again.<br>If you selected no, you will be redirected back to the previous page.</p><br>
    </font>
    <form method = "POST">
      <input type="radio" name="options" id="Yes" value="Yes">
      <label for="Yes">Yes, delete it</label>
      <br>
      <input type="radio" name="options" id="No" value="No">
      <label for="No">No, don't delete</label>
      <br>
       <input type="submit" value="Confirm" style="height:30px; width:60px"><input type="reset" value="clear" style="height:30px; width:60px">
    </form>
    </font>
</body>
</html>