<!DOCTYPE html>
<head>
  <title>
    deletion Repl pinger
  </title>
</head>
<body bgcolor="black" alink="#348ceb" vlink="#348ceb" link="#348ceb">
  <font color = "#f2f2f2" size ="5">
   <h2><center><b><u>Repl Pinger</u></b></center></h2><font size = 3><p align="right"> By- Quantumcodes    </p></font>
    <hr size=1>
    <h3><p align="center"><u>Delete link page</u></p></h3>
    <hr size="1">
    <br>
    <br>
    <form align="center" action ="/delete" method="POST">
      <label for="ID" align="bottom">Link ID: </label>
      <input type="text" align="top" id="ID" name="LinkID" placeholder="Type Link ID" style="height: 20px; width:250px"><br>
      <input type="submit" value="verify" style="height:30px; width:60px"><input type="reset" value="clear" style="height:30px; width:60px">
    </form>
    <br><br>
    <font size=3>
    <p align="center">If you don't remember your link ID, <br>well.. You can't remove your link from pinging.<br> If it is really necessary to remove,<br> Then you may just rename your repl.<br><br>Want to <a href="https://repl-pinger.quantumcodes.repl.co/add">add</a> instead?</p>
    </font>
  </font>
</body>
</html>