<!DOCTYPE html>
<head>
  <title>Add-repl pinger</title>
</head>
<body bgcolor="black" alink="#348ceb" vlink="#348ceb" link="#348ceb">
  <font color="#f2f2f2" size="5">
       <h2><center><b><u>Repl Pinger</u></b></center></h2><font size = 3><p align="right"> By- Quantumcodes    </p></font>
    <hr size=1>
    <h3><p align="center"><u>Add link page</u></p></h3>
    <hr size="1">
    <br>
    <center><img src="https://www.pinclipart.com/picdir/big/549-5497548_no-symbol-clip-art-circle-transparent-x-mark.png" height="400px"></center>
    <br>
    <font size="3">
    <p align="center">{{error}}<br>try again!<a href="https://repl-pinger.quantumcodes.repl.co/add">here.</a><br>Note that the link format should be:<br>https://{Repl name}.{creator username}.repl.co/{whatever}<br>Else, your link may be rejected.<br>>Want to <a href="https://repl-pinger.quantumcodes.repl.co/delete">delete</a> instead?</p>
    </font></font>
</body>
</html>